body{
    background: url(BG.webp) center center fixed no-repeat;
    background-size: cover;
}
.main{
    text-align: center;
    color: #fff;
}
.main label{
    color: #fff;
    display: block;
    margin: 10px;
}
.main span{
    display: block;
    color: #fff;
    margin: 10px auto;
    border: 1px solid;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main select{
    height: 30px;
    background-color: #6b3900;
    color: #fff;
    border: none;
}
.main button{
    display: block;
    margin: 15px auto;
    background-color: #6b3900;
    color: #fff;
    padding: 10px 20px;
    border: none;
    opacity: .8;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.main button:hover{
    opacity: 1;
    cursor: pointer;
}
.breacking-bad {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.breacking-bad .cards {
    background-color: #6b5130;
    color: #fff;
    border-radius: 10px;
    display: inline-block;
    width: 300px;
    margin: 20px;
    text-align: center;
}
.breacking-bad img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.breacking-bad span{
    display: block;
    margin: 10px 0;
}
